.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-dbQKfR-Yb9je);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-bse9T_154Bop);
  font-family: var(--token-qQV4dDWAzDR3);
  font-size: var(--token-m2zSDSk1RzDU);
  line-height: var(--token-fujdeBW7Jnca);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-w3bLa_X7qg5m);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ZR9wju4GQSSF);
  outline-offset: 1px;
  outline-color: var(--token-7Q3t5tjpZduN);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-AW26z-yprZBe);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-pTMTbZB3zHQg);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-UBLe4bkGjCaq);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-WSpGEVyVjHN5);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-diw_Qb9xCPxj);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Qx6RDkelXf6y);
  font-size: var(--token-lFLpnNY0Cq-Y);
  column-gap: var(--token-ZR9wju4GQSSF);
  row-gap: 0px;
  border-radius: var(--token-RNmP5EV5Tf92);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-lFLpnNY0Cq-Y);
  line-height: var(--token-Qx6RDkelXf6y);
  column-gap: var(--token-RNmP5EV5Tf92);
  row-gap: 0px;
  border-radius: var(--token-RNmP5EV5Tf92);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-2CH-99q8V_KI);
  line-height: var(--token-F0F9QvWe2wnU);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-2CH-99q8V_KI);
  line-height: var(--token-F0F9QvWe2wnU);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-SWkCZ6PItaOY);
  border-radius: var(--token-w3bLa_X7qg5m);
}
.softBackgroundcolor_neutral {
  background: var(--token-OCSVrrBZ5anF);
}
.softBackgroundcolor_muted {
  background: var(--token-Hx5sQ4yDBAV-);
}
.softBackgroundcolor_success {
  background: var(--token-hTPl6lITRWdK);
}
.softBackgroundcolor_warning {
  background: var(--token-6v6nS7P6djyI);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-3SyuUHdGN99i);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundcolor_neutral_type_soft {
  background: var(--token-ROsaKFNbcWIq);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-w3bLa_X7qg5m);
  border: 0px solid var(--token-5nO6ZoJTAxrX);
}
.bordercolor_neutral {
  border-color: var(--token-WhNk1SUJvAMa);
}
.bordercolor_muted {
  border-color: var(--token-UYlvVvggJ5MG);
}
.bordercolor_success {
  border-color: var(--token-5iMuROPaK1Zr);
}
.bordercolor_warning {
  border-color: var(--token-O5asJYs4bksT);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Onlqy4cA-2EP);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-w3bLa_X7qg5m);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-t06BhSxNFaNH);
}
.root[data-disabled] .interactionEffect {
  background: var(--token--Ek_C76tlLEg);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-tYWGLih97pap);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__lhOcH {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-w3bLa_X7qg5m) var(--token-JnlKnS7lVht2);
}
.freeBox__lhOcH > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-w3bLa_X7qg5m));
  width: calc(100% + var(--token-w3bLa_X7qg5m));
}
.freeBox__lhOcH > :global(.__wab_flex-container) > *,
.freeBox__lhOcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lhOcH > :global(.__wab_flex-container) > picture > img,
.freeBox__lhOcH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-w3bLa_X7qg5m);
}
.freeBoxsize_extraSmall__lhOcHhyLxI {
  padding: var(--token-RNmP5EV5Tf92) var(--token-w3bLa_X7qg5m);
}
.freeBoxsize_small__lhOcHxKfEk {
  padding: var(--token-w3bLa_X7qg5m) var(--token-bse9T_154Bop);
}
.freeBoxsize_large__lhOcHqtnbY {
  padding-top: var(--token-RNmP5EV5Tf92);
  padding-bottom: var(--token-RNmP5EV5Tf92);
}
.freeBoxsize_extraLarge__lhOcHoE2V {
  padding-left: var(--token-CqGfHzMhDUNY);
  padding-right: var(--token-CqGfHzMhDUNY);
}
.freeBoxroundedFull__lhOcHmk2E {
  padding-right: var(--token-CqGfHzMhDUNY);
  padding-left: var(--token-CqGfHzMhDUNY);
}
.freeBox__qDfvy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qDfvybpiJo {
  display: flex;
}
.slotTargetStart {
  color: var(--token-B0f7zB0Dq966);
}
.slotTargetStartcolor_neutral {
  color: var(--token-knqnRc1yR9Lz);
}
.slotTargetStartcolor_muted {
  color: var(--token-s0e45eSXFPSz);
}
.slotTargetStartcolor_success {
  color: var(--token-LnVQD_k6ym7Y);
}
.slotTargetStartcolor_warning {
  color: var(--token-UNCAlYu2QSwu);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-kbvKtrBQQCOE);
}
.slotTargetStarttype_soft {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetStarttype_bordered {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-lFLpnNY0Cq-Y);
}
.slotTargetStartsize_small {
  font-size: var(--token-lFLpnNY0Cq-Y);
}
.slotTargetStartsize_large {
  font-size: var(--token-2CH-99q8V_KI);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-2CH-99q8V_KI);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-49EIpT_aaqNS);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-49EIpT_aaqNS);
}
.svg__cr3Yv {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-B0f7zB0Dq966);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-knqnRc1yR9Lz);
}
.slotTargetLabelcolor_muted {
  color: var(--token-s0e45eSXFPSz);
}
.slotTargetLabelcolor_success {
  color: var(--token-LnVQD_k6ym7Y);
}
.slotTargetLabelcolor_warning {
  color: var(--token-UNCAlYu2QSwu);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-kbvKtrBQQCOE);
}
.slotTargetLabeltype_soft {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetLabeltype_bordered {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-49EIpT_aaqNS);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-49EIpT_aaqNS);
}
.text__scS8R {
  white-space: pre;
}
.freeBox__phmse {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__phmsedmetH {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-B0f7zB0Dq966);
}
.slotTargetEndcolor_neutral {
  color: var(--token-knqnRc1yR9Lz);
}
.slotTargetEndcolor_muted {
  color: var(--token-s0e45eSXFPSz);
}
.slotTargetEndcolor_success {
  color: var(--token-LnVQD_k6ym7Y);
}
.slotTargetEndcolor_warning {
  color: var(--token-UNCAlYu2QSwu);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-kbvKtrBQQCOE);
}
.slotTargetEndtype_soft {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetEndtype_bordered {
  color: var(--token-JC3W8oVLJ80w);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-lFLpnNY0Cq-Y);
}
.slotTargetEndsize_small {
  font-size: var(--token-lFLpnNY0Cq-Y);
}
.slotTargetEndsize_large {
  font-size: var(--token-2CH-99q8V_KI);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-2CH-99q8V_KI);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-xX8FqsIR3kfW);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-xmbzuYrpoCj7);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-wAUiTwv_QZ7-);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Ere7xBzmlyGF);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-49EIpT_aaqNS);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-49EIpT_aaqNS);
}
.svg__jryrk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
