.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__fcBg9 {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__fcBg9 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__fcBg9 > :global(.__wab_flex-container) > *,
.freeBox__fcBg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fcBg9 > :global(.__wab_flex-container) > picture > img,
.freeBox__fcBg9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fcBg9 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fcBg9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fcBg9 > :global(.__wab_flex-container) > *,
  .freeBox__fcBg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fcBg9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fcBg9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__qOHt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__qOHt4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qOHt4 > :global(.__wab_flex-container) > *,
.freeBox__qOHt4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qOHt4 > :global(.__wab_flex-container) > picture > img,
.freeBox__qOHt4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__aShSb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aShSb > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aShSb > :global(.__wab_flex-container) > *,
.freeBox__aShSb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aShSb > :global(.__wab_flex-container) > picture > img,
.freeBox__aShSb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3Bmom {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___3Bmom > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3Bmom > :global(.__wab_flex-container) > *,
.freeBox___3Bmom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Bmom > :global(.__wab_flex-container) > picture > img,
.freeBox___3Bmom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__jmit4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-qWy-1CNjAJUS);
  flex-shrink: 0;
}
.svg__us2Wg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-qWy-1CNjAJUS);
  flex-shrink: 0;
}
.svg__rDu3C {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-qWy-1CNjAJUS);
  flex-shrink: 0;
}
.freeBox__iltCy {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__iltCy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iltCy > :global(.__wab_flex-container) > *,
.freeBox__iltCy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iltCy > :global(.__wab_flex-container) > picture > img,
.freeBox__iltCy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__knaRa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-qWy-1CNjAJUS);
  height: auto;
}
.link__y6RZs {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__yfVh {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__xR00K {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__pkCeI {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.freeBox__kv5R {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__kv5R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kv5R > :global(.__wab_flex-container) > *,
.freeBox__kv5R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kv5R > :global(.__wab_flex-container) > picture > img,
.freeBox__kv5R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___5MszF {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-qWy-1CNjAJUS);
  height: auto;
}
.link__h3OyL {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__rVoj {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__vLlXy {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.freeBox___3II58 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___3II58 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3II58 > :global(.__wab_flex-container) > *,
.freeBox___3II58 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3II58 > :global(.__wab_flex-container) > picture > img,
.freeBox___3II58
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___78GSf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-qWy-1CNjAJUS);
  height: auto;
}
.link__wqWlK {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__f3ABs {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__sQva6 {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
.link__gj221 {
  height: auto;
  color: var(--token-vyjaCQstozko);
  font-size: 18px;
}
