.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/copy_of_google_o_auth_example/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__upVqA {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-dW4JN7BtCaUY);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__upVqA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__upVqA > :global(.__wab_flex-container) > *,
.columns__upVqA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__upVqA > :global(.__wab_flex-container) > picture > img,
.columns__upVqA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__upVqA > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__upVqA > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__upVqA {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__upVqA > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__upVqA > :global(.__wab_flex-container) > *,
  .columns__upVqA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__upVqA > :global(.__wab_flex-container) > picture > img,
  .columns__upVqA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__upVqA > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2R29Z {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zVxKb {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zVxKb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zVxKb > :global(.__wab_flex-container) > *,
.freeBox__zVxKb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zVxKb > :global(.__wab_flex-container) > picture > img,
.freeBox__zVxKb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__biYzI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__biYzI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__biYzI > :global(.__wab_flex-container) > *,
.freeBox__biYzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__biYzI > :global(.__wab_flex-container) > picture > img,
.freeBox__biYzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__xsrZo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__npjy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-qWy-1CNjAJUS);
  background: #ffffff;
  padding: 4px 8px;
}
.text___95VIe {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ux8gjDu_o794);
}
.text__zX7It {
  font-size: 20px;
  color: var(--token-qWy-1CNjAJUS);
  line-height: 28px;
}
.freeBox__yZaB7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yZaB7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yZaB7 > :global(.__wab_flex-container) > *,
.freeBox__yZaB7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZaB7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yZaB7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__eMWi {
  position: relative;
  height: 1em;
}
.text__izphA {
  white-space: pre;
}
.svg__meUu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__em60N {
  font-size: 18px;
}
.column__xqShz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___8H9Hj {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___8H9Hj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8H9Hj > :global(.__wab_flex-container) > *,
.freeBox___8H9Hj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8H9Hj > :global(.__wab_flex-container) > picture > img,
.freeBox___8H9Hj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s2S17 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__x6M2D {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ux8gjDu_o794);
  line-height: 1;
}
.text__o2MXm {
  font-size: 20px;
  color: var(--token-qWy-1CNjAJUS);
  text-align: left;
  line-height: 28px;
}
.freeBox__yn7Zp {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__yn7Zp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yn7Zp > :global(.__wab_flex-container) > *,
.freeBox__yn7Zp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yn7Zp > :global(.__wab_flex-container) > picture > img,
.freeBox__yn7Zp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yn7Zp {
    max-width: var(--token-dW4JN7BtCaUY);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yn7Zp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yn7Zp > :global(.__wab_flex-container) > *,
  .freeBox__yn7Zp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yn7Zp > :global(.__wab_flex-container) > picture > img,
  .freeBox__yn7Zp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__w7M4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__w7M4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__w7M4 > :global(.__wab_flex-container) > *,
.freeBox__w7M4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w7M4 > :global(.__wab_flex-container) > picture > img,
.freeBox__w7M4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w7M4 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w7M4 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w7M4 > :global(.__wab_flex-container) > *,
  .freeBox__w7M4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w7M4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__w7M4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__rr1C6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__y8FvV {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__vou75:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ug1Sz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___2W9C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fVxMe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___7UeVe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lnNx5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__cKnkj {
  height: auto;
}
.freeBox___7SXow {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7SXow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___7SXow > :global(.__wab_flex-container) > *,
.freeBox___7SXow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7SXow > :global(.__wab_flex-container) > picture > img,
.freeBox___7SXow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SXow {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SXow > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SXow > :global(.__wab_flex-container) > *,
  .freeBox___7SXow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7SXow > :global(.__wab_flex-container) > picture > img,
  .freeBox___7SXow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__wBoh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r7Wly {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__bkP01 {
  height: auto;
}
.valueProp__wHbxp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f4Ykp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___9VQwN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iud5M {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__cggsm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4Plmv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__gs3BO {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__gs3BO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__gs3BO > :global(.__wab_flex-container) > *,
.columns__gs3BO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gs3BO > :global(.__wab_flex-container) > picture > img,
.columns__gs3BO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__gs3BO > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__gs3BO > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gs3BO {
    max-width: var(--token-dW4JN7BtCaUY);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gs3BO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gs3BO > :global(.__wab_flex-container) > *,
  .columns__gs3BO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gs3BO > :global(.__wab_flex-container) > picture > img,
  .columns__gs3BO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gs3BO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tvEeW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bYcb5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bYcb5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bYcb5 > :global(.__wab_flex-container) > *,
.freeBox__bYcb5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bYcb5 > :global(.__wab_flex-container) > picture > img,
.freeBox__bYcb5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qt8Vd {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-TEtH45eCOGxw);
}
.h2__cjqg {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XiCbq51LxZE-);
  line-height: 1;
}
.text__ulUx5 {
  font-size: 20px;
  color: var(--token-4-edqrBOPigV);
  line-height: 28px;
  height: auto;
}
.freeBox___1Kjv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__lbkYy {
  color: var(--token-FNIOKrehceW8);
}
.svg__bpmHg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-FNIOKrehceW8);
  flex-shrink: 0;
}
.column___7YfzH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__stsJg {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__eZM:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__eZM:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__sppzQ {
  color: var(--token-XiCbq51LxZE-);
}
.svg__uws1C {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-TEtH45eCOGxw);
}
.listItem__xuKnq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qtWg {
  color: var(--token-XiCbq51LxZE-);
}
.svg__g2VdP {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-TEtH45eCOGxw);
}
.listItem__icF9I:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__l32VD {
  height: auto;
  color: var(--token-XiCbq51LxZE-);
}
.svg__mPdpw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-TEtH45eCOGxw);
}
.listItem__eePkl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___10A0C {
  height: auto;
  color: var(--token-XiCbq51LxZE-);
}
.svg___7OxSl {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-TEtH45eCOGxw);
}
.listItem__a9Yd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ma5Rt {
  height: auto;
  color: var(--token-XiCbq51LxZE-);
}
.svg___0UzeR {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-TEtH45eCOGxw);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__jp5A5 {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__jp5A5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jp5A5 > :global(.__wab_flex-container) > *,
.freeBox__jp5A5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jp5A5 > :global(.__wab_flex-container) > picture > img,
.freeBox__jp5A5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jp5A5 {
    max-width: var(--token-dW4JN7BtCaUY);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jp5A5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jp5A5 > :global(.__wab_flex-container) > *,
  .freeBox__jp5A5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jp5A5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jp5A5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__nv5RH {
  display: flex;
  flex-direction: column;
}
.freeBox__nv5RH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nv5RH > :global(.__wab_flex-container) > *,
.freeBox__nv5RH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nv5RH > :global(.__wab_flex-container) > picture > img,
.freeBox__nv5RH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2JIqd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uMwKz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XiCbq51LxZE-);
  line-height: 1;
}
.text__eOg9B {
  font-size: 20px;
  color: var(--token-4-edqrBOPigV);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__afHz {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__afHz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__afHz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__afHz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__afHz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afHz {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afHz > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afHz > :global(.__wab_flex-container) > *,
  .columns__afHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__afHz > :global(.__wab_flex-container) > picture > img,
  .columns__afHz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afHz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rHjy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__q7K53:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__q7K53:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__ktCx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uySds {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3Mxlh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fBwok {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column___5IZly {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__arzx7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__a2YHm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p68GJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4L8Nc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kivBa {
  height: auto;
}
.svg___4TUrT {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__zYrSp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___69JE1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__jdh3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qiUKb {
  height: auto;
}
.svg__aydOe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__fQgZy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__fwXbT:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__fwXbT:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__jLvhu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zN9LX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__o9C7P:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qfnja {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mVd8C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mVd8C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mVd8C > :global(.__wab_flex-container) > *,
.freeBox__mVd8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mVd8C > :global(.__wab_flex-container) > picture > img,
.freeBox__mVd8C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mVd8C {
    position: relative;
  }
}
.text__u3Li5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__cTj2E {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ux8gjDu_o794);
  line-height: 1;
  height: auto;
}
.freeBox___0GOSr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__fibV {
  color: var(--token-FNIOKrehceW8);
  font-weight: 700;
  margin-bottom: 0px;
}
.svg___7Tvz4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-FNIOKrehceW8);
  flex-shrink: 0;
}
.freeBox___7Phvc {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___7Phvc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___7Phvc > :global(.__wab_flex-container) > *,
.freeBox___7Phvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Phvc > :global(.__wab_flex-container) > picture > img,
.freeBox___7Phvc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Phvc {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Phvc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Phvc > :global(.__wab_flex-container) > *,
  .freeBox___7Phvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Phvc > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Phvc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__o4Mv {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__jhRR {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ux8gjDu_o794);
  line-height: 1;
  height: auto;
  user-select: text;
  white-space: pre-wrap;
}
.freeBox__kSfXe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-grow: 0;
  padding: 0px;
}
.link__xv7Yu {
  color: var(--token-FNIOKrehceW8);
  font-weight: 700;
  white-space: pre;
}
.svg__uTnkM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-FNIOKrehceW8);
  flex-shrink: 0;
}
.banner__zF2A:global(.__wab_instance) {
  position: relative;
}
.text__h3XNb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__gEqW4 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ux8gjDu_o794);
  line-height: 1;
  height: auto;
}
.freeBox__g1Dnm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__owd4 {
  color: var(--token-FNIOKrehceW8);
  font-weight: 700;
  white-space: pre;
}
.svg__zUnMq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-FNIOKrehceW8);
  flex-shrink: 0;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__vegS {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__vegS > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__vegS > :global(.__wab_flex-container) > *,
.freeBox__vegS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vegS > :global(.__wab_flex-container) > picture > img,
.freeBox__vegS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__lQBr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lQBr > picture > img {
  object-fit: cover;
}
.img__cTBpg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cTBpg > picture > img {
  object-fit: cover;
}
.img__cf84H {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cf84H > picture > img {
  object-fit: cover;
}
.img___7Xrsb {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7Xrsb > picture > img {
  object-fit: cover;
}
.img__qhQeY {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__qhQeY > picture > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__uTGeL {
  max-width: var(--token-dW4JN7BtCaUY);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__uTGeL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__uTGeL > :global(.__wab_flex-container) > *,
.columns__uTGeL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uTGeL > :global(.__wab_flex-container) > picture > img,
.columns__uTGeL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__uTGeL > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__uTGeL > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__uTGeL > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uTGeL {
    max-width: var(--token-dW4JN7BtCaUY);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uTGeL > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uTGeL > :global(.__wab_flex-container) > *,
  .columns__uTGeL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uTGeL > :global(.__wab_flex-container) > picture > img,
  .columns__uTGeL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uTGeL > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__asrhX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__iqzZh:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__qA8Gf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___6Hyah:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__a5QNs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__rbFfj:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___1H4Oh {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yzkrI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yzkrI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yzkrI > :global(.__wab_flex-container) > *,
.freeBox__yzkrI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yzkrI > :global(.__wab_flex-container) > picture > img,
.freeBox__yzkrI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__r56FK {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-XiCbq51LxZE-);
}
.text__zhPq {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XiCbq51LxZE-);
  line-height: 1;
}
.text__cSjXq {
  font-size: 20px;
  color: var(--token-4-edqrBOPigV);
  line-height: 28px;
}
.freeBox__aMokh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aMokh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aMokh > :global(.__wab_flex-container) > *,
.freeBox__aMokh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aMokh > :global(.__wab_flex-container) > picture > img,
.freeBox__aMokh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__dsXr8:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fyXd5 {
  position: relative;
  height: 1em;
}
.text__x7Nxe {
  white-space: pre;
}
.svg__xyoF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__pOUli {
  color: var(--token-vyjaCQstozko);
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
